# Git and GitHub related ignores
.DS_Store
.vscode/
*.sublime-project
*.sublime-workspace

# Python related ignores
__pycache__/
*.pyc
*.pyo
.env
venv/
.pytest_cache/
*.egg-info/
dist/
build/

# Flask specific ignores
.flaskenv
